{% extends "base.html" %} {% block content %}
<div style="padding: 10% 30%;">   
    <div class="row">
        <div class="col-6">
            <img src="{{moviePoster}}" alt="{{movieTitle}}">
        </div>
        <div class="col-6">
            <br>
            <br>
            <div class="row"><h4>{{movieTitle}}</h4></div>
            <div class="row"><p>{{movieGenre}}</p></div> 
            <div class="row"><p>{{movieCountry}}</p></div>
            <div class="row"><p>{{movieRuntime}}</p></div>
            <div class="row"><p>{{movieLang}}</p></div>
            <div class="row"><p>{{movieRDate}}</p></div>
            <br>
            <div class="row"><p>{{movieDes}}</p></div>  
                    
        </div>
    </div>
</div>

{% endblock %}