{% extends "base.html" %} {% block content %}
{% if isMovieExisted %}
<div style="background-color: rgb(49, 48, 48);color: white;">
<div style="padding: 10% 30%;">   
    <div class="row">
        <div class="col-6">
            <img src="{{moviePoster}}" alt="{{movieTitle}}">
        </div>
        <div class="col-6">
            <br>
            <br>
            <div class="row"><h4>{{movieTitle}}</h4></div>
            <div class="row"><p>{{movieGenre}}</p></div> 
            <div class="row"><p>{{movieCountry}}</p></div>
            <div class="row"><p>{{movieRuntime}}</p></div>
            <div class="row"><p>{{movieLang}}</p></div>
            <div class="row"><p>{{movieRDate}}</p></div>
            <br>
            <div class="row"><p>{{movieDes}}</p></div>                      
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h6>Dates & Times</h6>
        </div>
    </div>
    <form action="/bookTicket" method="post">
    <div class="row">
        {% for screen in screens%}
        <div class="col-3">
            <br>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#screen{{screen.screenId}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{screen.scheduledDate}}
            </a>
        </div>       
        <div class="collapse" id="screen{{screen.screenId}}">
            <br>
            <a class="btn btn-success" data-bs-toggle="collapse" href="#seat{{screen.screenId}}" role="button" aria-expanded="false" aria-controls="collapseExample">{{screen.scheduledTime}}</a>
            <br>
        </div>
        <div class="collapse" id="seat{{screen.screenId}}">
            <p style="color: white;">HallNum: {{screen.hallId}}</p>
            <input type="hidden" name="screenId" value="{{screen.screenId}}"/>
            {% for seat in seatList%}
                {% if seat.hallId == screen.hallId%} 
                <!-- check if seat is token by booking in this screen -->                  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seat{{seat.seatId}}"  value="{{seat.seatId}}" onchange="callFunction()">
                    <label class="form-check-label" for="inlineCheckbox1" >{{seat.seatRow}}{{seat.seatNum}}</label>
                  </div>             
                {%endif%}
            {%endfor%}
            
            
        </div>
               
        {%endfor%}
        
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-info" disabled id="bookBtn">Book</button>
        </div>
    </div>
    </form>
</div>

</div>
{%else%}
<h3>Invalid Movie Id</h3>
{%endif%}

{% endblock %}